<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Marjan Ahmadi CV Page" />
<meta property="og:type" content="Marjan Ahmadi" />
<meta property="og:image" content="http://marjanahmadi.ir/images/photo.jpg" />
<meta property="og:url" content="Marjanahmadi.ir" />
<meta property="og:description" content="Full Stack Developer,Software Engineer,Programmer,WebDesigner" />
<meta property="og:site_name" content="MarjanAhmadi's CV" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
  {% endif %}

  

  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
</head>
